<!DOCTYPE html>

<html>
<head>
  <title>gruper</title> 
  <meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.css" rel="stylesheet">
  <link href="/css/bootstrap-theme.css" rel="stylesheet">
  <link href="/css/gruper.css" rel="stylesheet">
  <link href="/css/create.css" rel="stylesheet">
</head>
<body>
    <div class="container">
      <div class="jumbotron">
        <h1>gruper</h1>   
      </div>

    <center> <h3> Create Event </h3>  </center>
	  <a href="/" class="btn btn-info btn-large" id = "create_back">Back</a>
    <!-- <div class = "container">
      <div class = "jumbotron">-->
	  <form id="addEventForm" role="form" method="get" action="/">

	  
        <div class="form-group">
            <label for="title">Event Title:</label>
            <input type="text" class="form-control" id="title" placeholder="Event Title" name="title" required>
        </div>
         <div class="date">
            <label for="Date">FROM: Date</label>
            <input type="text" id="datepicker1" placeholder="Date" name="date1" required>
          </br>
            <label for="Date">Time: Hour</label>

          <select name="hrs1">
           <option value="1">1</option>
           <option value="2">2</option>
           <option value="3">3</option>
           <option value="4">4</option>
           <option value="5">5</option>
           <option value="6">6</option>
           <option value="7">7</option>
           <option value="8">8</option>
           <option value="9">9</option>
           <option value="10">10</option>
           <option value="11">11</option>
           <option value="12" selected>12</option>
        </select>
            <label for="Date">Min</label>
          <select name="minute1">
		   <option value="00">00</option>
           <option value="15">15</option>
           <option value="30">30</option>
           <option value="45">45</option>
        </select>
        <label for="Date">AM/PM</label>
          <select name="ampm1">
           <option value="AM">AM</option>
           <option value="PM" selected>PM</option>
         </select>
		 
		 <b>Till Whenever</b>
		 <input type="checkbox" id="showDate2" checked></input>
        </div>
		 
         <div class="date" id="date2">
          </br>
            <label for="Date">TO:    Date</label>
            <input type="text" id="datepicker2" placeholder="Date" name="date2">
            </br>
            <label for="Date">Time: Hour</label>

          <select name="hrs2">
           <option value="1" selected>1</option>
           <option value="2">2</option>
           <option value="3">3</option>
           <option value="4">4</option>
           <option value="5">5</option>
           <option value="6">6</option>
           <option value="7">7</option>
           <option value="8">8</option>
           <option value="9">9</option>
           <option value="10">10</option>
           <option value="11">11</option>
           <option value="12">12</option>
        </select>
            <label for="Date">Min</label>
          <select name="minute2">
		   <option value="00">00</option>
           <option value="15">15</option>
           <option value="30">30</option>
           <option value="45">45</option>
        </select>
        <label for="Date">AM/PM</label>
          <select name="ampm2">
           <option value="AM">AM</option>
           <option value="PM" selected>PM</option>
         </select>
        </div>
        </br>
		
	  <div><input type="checkbox" id="showPrice" checked><b>Free</b></input></div>
	  
      <div class="form-group" id="priceDiv">
            <label for="title">Price:</label>
            <input type="text" class="form-control" id="price" placeholder="Price $$" name="price">
        </div>
       <div class="form-group">
            <label for="title">Location:</label>
            <input type="text" class="form-control" id="location" placeholder="Location" name="location" required>
       </div>
      <div class="form-group">
            <label for="title">Description:</label>
		<textarea rows="5" class="form-control" id="Description" placeholder="Description" style="height: 100px;" name="description" required> </textarea>
      </div>
	  
	  <div><input type="checkbox" id="showCapacity" checked><b>No Invite Limit</b></input></div>
	  
       <div class="form-group" id="inviteDiv">
            <label for="title">Number of people you wish to invite:</label>
            <input type="text" class="form-control" id="capacity" placeholder="Number of people" name="capacity">
       </div>
      <div class="seats">
	  
	  <input type="text" class="form-control" id="hiddenlat" name="hiddenlat" required>
	  <input type="text" class="form-control" id="hiddenlng" name="hiddenlng" required>
       
       <center> 
          <div>
            <a href="/" id="createEventButton"><button id="createevent" class="btn btn-info btn-larg">Create Event</button></a>
          </div>
       </center>
	   
	   </form>
      
      </div>
            
     <!-- </div> -->
    </div>
	</div>
	<script src="js/jquery-1.11.0.js"></script>
  <script src="js/bootstrap.js"></script>
  <script src="js/gruperScript.js"></script>
  <script src="js/createEventScript.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.11/jquery-ui.min.js"></script>

  <script>
    $(function() {
        $( "#datepicker1" ).datepicker();
        $( "#datepicker2" ).datepicker();
    });
  </script>
</body>
</HTML>